li{
    list-style: none;
}
.card{
    display:grid;
    grid-template-columns:30% 70%;
    max-height: 100px;
   
    .right{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        padding:1rem;
    }
    img{
        max-width: 80%;
    }
    
}