@use './vars.scss' as var;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: Poppins, sans-serif;
}
@mixin flex($justify,$align,$padding:1rem,$direction:row){
  display:flex;
  justify-content:$justify;
  align-items:$align;
  flex-direction: $direction;
  padding:$padding;
}
@mixin grid($columns,$rows,$gap,$justify,$align){
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  justify-content:$justify;
  align-items:$align;
}
@mixin font($size,$weight,$line-height,$font-family:Poppins,$color:var.$font-color){
  font-family:$font-family ;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color:$color;
}
@mixin input--block($p){
  padding:0.5rem ;
  width:100%;
  max-height: 4rem;
  margin:0px 0px 0px 0px;
  border:1px solid #E6E6F0;
  border-radius: 4px;
  background-color:var.$text-input-color;
}
@mixin input($width){
  font-size: 13px;
  width:$width;
  border:none;
  outline: none;
  background-color:#FAFAFC;
  color:var.$font-color;
}

html{
  height: 100%;
}
body{
  min-width: 100%;
  min-height: 100vh;
}
span{
  margin:1rem 1rem;
  text-align:center;
  font-size:12px;
  color:var.$font-color;
}

.logo{
  @include flex(center,center,0px 14px);
  max-height:3rem;
  max-width:5rem;
  border:1px solid var.$font-color;
  border-radius:4px;
  margin: 0px 12px;
}

.title-task{
  @include flex(space-between,center,1rem);
  h1{
    @include font(1.5rem,600,34px);
    color:var.$font-color;
  }
  button{
    background-color: transparent;
    border: none;
    color: var.$font-color;
    &:active{ color: var.$primary-color;}
    font-size: 3rem;
  }
}

.layout{
  @include flex(start,space-between ,10rem 1rem 2rem 1rem,column);
}


