@use 'main.scss' as m;
@use 'vars.scss' as var;
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.navbar{
    width: 100%;
    display: flex;
    position:fixed;
    z-index: 100;
    background-color:var.$primary-color ;
    inset: 0px 0px;
    max-height: 8rem;
    img{
        max-width: 3rem;
    }
    .nav-logo{
        @include m.font(25px,700,20px,Maven Pro,#ffff);
        position: absolute;
        min-width: 20rem;
        inset: 1.4rem 0rem 0rem 4rem;
        margin: 0rem;
        padding: 0rem;
        
    }
   
    ul{
        min-width: 100%;
        @include m.flex(space-between,center,0rem);
    }
    .coins-button{
        @include m.flex(center,center,1rem 2rem);
        @include m.font(20px,700,20px);
        background-color: #F5F5F5;
        border: none;
        color: var.$primary-color;
        margin-right:12px ;
        border-radius: 4px;
        img{
        max-width: 23px;
        max-height: 23px;
        margin-right: 0.5rem;}
    }
     .menu-icon{     
        position: relative;
        color: white;
        font-size: 50px;
     }
    li{
        list-style: none;
        position: relative;
    }
    input{
       @include m.input(80%);
       padding:0px 0px 0px 12px;
    }
    .input-block{
        @include m.input--block(0px);
        position: relative;
        min-width:45rem;
        margin: 8rem 0rem 0rem 0rem;
        border-radius: 4px;
        border-color: var.$primary-color;
        label{
            display: block;
        }
    }
    .search{
        position: absolute;
        inset: 73% 90%;
        border:solid 1px var.$font-color;
        border-right: 0;
        border-top: 0;
        border-bottom:0 ;
        display: flex;
        padding:0px 0px 0px 15px;
        max-width: 30px;
        min-height: 36px;
        margin: 0px;

        i{
            font-size: 25px;
            color:var.$primary-color;
        }
    }
}